.contenedorNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color-negro);
  color: var(--color-blanco);
}

.linknavbar {
  text-decoration: none;
  color: var(--color-blanco);
  padding: 12px;
}

.ubicacionNavbar {
  border: none;
  border-radius: 20px;
  padding: 1rem;
  cursor: pointer;
}

.ubicacionNavbar:hover,
.linknavbar:hover {
  color: var(--color-amarillo);
}

.logonavbar {
  padding: 1rem;
}

.inputNavbar {
  width: 30rem;
  margin: 10px;
  color: var(--color-negro);
  background-color: var(--color-blanco);
  border-radius: 20px;
  padding-left: 10px;
}

.cerrarSesion {
  cursor: pointer;
  margin-top: 18px;
}

.inputNavbar:focus {
  background: var(--color-amarillo);
  color: var(--color-negro);
  padding-left: 10px;
}

.buscadorinput {
  position: relative;
}

.imgbuscador {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 42px;
  border-radius: 5px;
}

.fotoPerfilUsuario {
  border-radius: 50%;
}
